body {
    background-color: #fff;
    background-image: linear-gradient(#efefef80 0.4rem, transparent 0.4rem), linear-gradient(90deg, #efefef80 0.4rem, transparent 0.4rem);
    background-size: 10rem 10rem;
    background-position: -0.1rem -0.1rem;
}

.bg-login-image {
    background-image: url(../img/cover.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.btn-blueuxmb {
    min-width: 100%;
    border: 1px solid #00000030;
    color: black;
    font-weight: 500;
}

.btn-blueuxmb:hover {
    background-color: #1533C9;
    box-shadow: 5px 5px 0px #FFBB02;
    transition: all .3s ease;
    color: white;
}

.form-control {
    border-color: #00000030;
}

.form-control:focus {
    border-color: #1533C9;
}