body {
    background-color: #fff;
    background-image: linear-gradient(#efefef80 0.4rem, transparent 0.4rem), linear-gradient(90deg, #efefef80 0.4rem, transparent 0.4rem);
    background-size: 10rem 10rem;
    background-position: -0.1rem -0.1rem;
}